apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-apps
  namespace: argocd
spec:
  project: default
  sources: # Mudamos para 'sources' (plural)
    - repoURL: '${REPO_URL}'
      targetRevision: HEAD
      path: app/api
      helm:
        releaseName: platform-api
        valueFiles:
          - values.yaml
    - repoURL: '${REPO_URL}'
      targetRevision: HEAD
      path: app/web
      helm:
        releaseName: platform-web
        valueFiles:
          - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
